<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DocumentThumbnailConfiguration</key>
	<dict>
		<key>accentColorHash</key>
		<data>
		qILNLgReav14o+m5kan5fHT7moOljvTvZ9uM9KwVRtI=
		</data>
		<key>appIconHash</key>
		<data>
		gw2soH1s4pNxssvEUYE7fS2F3Bb6xtZw9YUkAMejl6Q=
		</data>
		<key>thumbnailIsPrerendered</key>
		<false/>
	</dict>
</dict>
</plist>
